body{
    margin: 0px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.ml-6{
    margin-left: 40px !important;
}

.title{
    margin-left: 90px !important;
}

input{    
    width: 90% !important;
}

.btn-login {
    width: 150px !important;
    border-radius: 25px !important; 
    margin-left: 119px;

    
}
.checkbox{
    background-color: red;
}

.box {
    width: 400px;
    height: 400px;
    background: #fff;
}


.no-border {
    border: 0 !important;
    box-shadow: none !important;
}

.logo-tasks{
  width: 80px;
  margin-left: 40%;
  margin-top: 20px;
}
.hr-login{
  margin-left: 50px !important;
}

.t{
    opacity: 0.5;
}

.components-nav{
    opacity: 1;
}

.boxes{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.op-8{
    opacity: 0.8;
}


:root {
  font-size: calc(0.5vw + 1vh);
}

body {
  min-width: 420px;
}


span {
  font-size: 3rem;
}

p {
  font-family: "Roboto Slab", serif;
}


.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-list {
  min-height: 15rem;
  max-height: 30rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.card-tasks {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card-tasks:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container-tasks {
    padding: 2px 16px;
  }


.task p {
  margin: auto;
}
    
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
  
  .gu-hide {
    display: none !important;
  }

  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  
  .icon-close{
    float: right;
    width: 20px;
  }

  .icon-done{
    float: left;
    width: 20px;
  }

  .icon{
      margin-left: 10px;
      margin-right: 6px;
  }
  .icon-doing{
    float: left;
    width: 20px;
  }

  .icon-to-do{
    float: left;
    width: 20px;
  }

  .icon-github-black{
    float: left;
    width: 40px;
    margin-left: 40px;
    margin-bottom: 25px;
  }

